body{
  margin:0;
  background:#111214;
  color:#e6e6e6;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", monospace;
}

/* контейнер панели */
.panel{
  display:flex;
  flex-direction:column;
  gap:20px;

  padding:40px;
  max-width:600px;

  margin:0 auto;
}

/* карточка формы (мягкое окно) */
.panel > *{
  background:#1a1b1e;
  border-radius:14px;
  padding:14px;
  box-sizing:border-box;
}

/* inputs + textarea */
input,
textarea{
  width:100%;

  font-size:16px;
  line-height:1.4;

  border:none;
  outline:none;
  resize:none;

  background:transparent;
  color:#b8b8b8;

  font-family: inherit;
}

/* textarea высота */
textarea{
  height:140px;
}

/* focus эффект */
input:focus,
textarea:focus{
  box-shadow:0 0 0 1px #666 inset;
}

/* кнопка */
button{
  padding:12px 14px;

  border:none;
  border-radius:14px;

  background:#2a2b2f;
  color:#e6e6e6;

  font-family: inherit;
  font-size:14px;

  cursor:pointer;

  transition: all 0.2s ease;
}

/* hover */
button:hover{
  background:#34353a;
}

/* active */
button:active{
  transform:scale(0.98);
}

#adminList{
  max-width:600px;
  margin:0 auto;

  display:flex;
  flex-direction:column;
  gap:20px;
}

.panel{
  display:flex;
  flex-direction:column;
  gap:20px;

  padding:40px;
  max-width:600px;
  margin:0 auto;
}
